option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "ProductDate.settings"
    "PYTHONPATH": "/opt/python/current/app/ProductDate:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: ProductDate/wsgi.py
    NumProcesses: 3
    NumThreads: 20